.banner {
    background-image: url("../images/banner.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .content {
        color: white;
        padding: 22vh 0;

        .title {
            font-size: clamp(3.5rem, 3.023rem + 2.0351vw, 5.3125rem);
            font-weight: 800;
            word-spacing: nowrap;
        }

        .description {
            font-size: clamp(0.9375rem, 0.8553rem + 0.3509vw, 1.25rem);
            font-weight: 500;
        }
    }
}