.banner {
    background-image: url("../images/banner.jpg");
    background-color: #cccccc;
    // height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .content {
        color: white;
        padding: 200px 0;

        .title {
            font-size: clamp(2.5rem, 5vw, 4.3rem);
            font-weight: 800;
            word-spacing: nowrap;
        }

        .description {
            font-size: clamp(.7rem, 2vw, 1.06rem);
            font-weight: 500;
        }
    }
}