body {
    font-family: 'Poppins';
    overflow-x: hidden;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}
img,
picture {
    max-width: 100%;
    display: block;
}
a{
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
    li{
        list-style: none;
    }
}
.swag-btn{
    font-size: 17px;
    font-weight: 600;
    background-color: #f556a0;
    padding: 17px 60px;
    color: white;
    border: none;
}
