body {
    font-family: 'Poppins';
    overflow-x: hidden;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}
img,
picture {
    max-width: 100%;
    display: block;
}
a{
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
    li{
        list-style: none;
    }
}
.swag-btn{
    font-size: 17px;
    font-weight: 600;
    background-color: $primary-clr;
    padding: 1.8vh 3.2vw;
    color: white;
    border: none;
}
[data-scroll] {
    transition: opacity 1s;
}

[data-scroll="in"] {
    opacity: 1;
}

[data-scroll="out"] {
    opacity: 0;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: $primary-clr;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b9427a;
}