.our-work {
    background-image: url("../images/pink-bg-big.jpg");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 53.333vw;

    .content {
        padding-top: 40vw;
        padding-bottom: 50px;

        .swag-btn {
            background-color: $primary-bg-clr;
        }
    }

}
@media screen and(max-width:576px) {
   .our-work {

       .content {
           padding-top: 35vw;
           padding-bottom: 50px;
       }

   }
}