.our-work {
    background-image: url("../images/pink-bg-big.jpg");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 53.333vw;

    .content {
        padding-top: 40vw;
        padding-bottom: 50px;

        .swag-btn {
            background-color: #00bfff;
            display: inline-block;
        }
    }

}