.img-size {
    height: 49vh;
    width: 100%;
}
.top-products{
    padding: 6.8vh 0;

    .title{
        margin: 12px 0 21px;
        color: gray;
        font-size: 12px;

    }
    hr{
        width: 100px;
        color: #EAEAEA;
        height: 3px;
        margin: 20px auto;
        
    }
    .content {
        overflow: hidden;
        position: relative;

        .img-fluid {
            transition: ease-in 0.5s ease;
        }&:hover {

            .details {
                position: absolute;
                bottom: 0;
            }
            
            .hidden-el {
                opacity: 1;
            }
        }
    }

    .details {
        position: absolute;
        color: #ffffff;
        transition: all 0.5s ease;
        cursor: pointer;
        background-color: $primary-clr;
        bottom: -35px;
        right: 0;
        left: 0;

        .sub-title {
            font-size: clamp(1rem, 0.7368rem + 1.1228vw, 2rem);
            font-weight: 700;
        }
        
        .hidden-el {
            text-align: left;
            opacity: 0;
            display: grid;
            transition: all 0.5s ease;
            grid-template-columns: 1fr 1fr;
            .desc{
                font-size: 18px;
                font-weight: 300;
                align-self: center;
            }
            .swag-btn {
                justify-self: end;
                background-color: $secondary-clr;
                font-size: 12px;
                font-weight:700;
                margin-right: 15px;
            }
        }
    }
}
@media screen and (max-width:992px) {
    .top-products {
        .details {
            bottom: 0;
            .hidden-el {
                display: none;

            }
        }
    }
}