.what-we-do{
    background-image: url("../images/what-we-do-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .bi{
        font-size: 90px;
        // margin-left: -12px;
    }
    .content{
        padding: 200px 0;
        color: white;
        
        .title,
        .description {
            // margin-left: -24px;
            font-weight: 600;
        }
        .title{
            font-size: 45px;
        }
        .description{
            font-size: 25PX;
        }
    }
}
.our-promise{
    background-image: url("../images/single-medium-bg.png");
    background-size: 400% 92%;
    background-repeat: no-repeat;
    margin-bottom: 80px;
    .container {
        box-shadow: 5px 10px 18px #888888;
        background-color: #fff;
        padding: 65px 100px;

        .title {
            margin: 13px 0 40px;
            font-size: 13px;
            color: #ACADAD;
        }
        hr{
            width: 50px;
            height: 3px;
            opacity: .2;
            margin: 20px 400px 40px;
        }

        .content{
            padding: 10px 15px;
            img {
                width: 54px;
                height: 68px;
            }

            .sub-title {
                font-size: 16px;
                margin: 20px 0 14px;
                font-weight: bold;
            }

            .description {
                font-size: 12px;
                color: #979798;
                line-height: 1.8;
            }
        }
    }
    
}
// @media screen and (max-width:1024px) {
//     .what-we-do {
//         .bi {
//             font-size: 70px;
//         }
//     }
// }
@media screen and (max-width:767px) {
    .what-we-do {
        p {
            text-align: center;
        }
        .title,
        .description {
            text-align: center;
        }
    }
    
}
@media screen and (max-width:576px){

    .our-promise {
        .container {
            padding: 50px 60px;
        }
    }
}
