.what-we-do{
    background-image: url("../images/what-we-do-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .bi{
        font-size: 90px;
        color: white;
        // margin-left: -12px;
    }
    .content{
        padding: 22vh 0;
        color: white;
        
        .title,
        .description {
            font-weight: 600;
        }
        .title{
            font-size: clamp(2.375rem, 2.0789rem + 1.2632vw, 3.5rem);
        }
        .description{
            font-size: clamp(1.5625rem, 1.4474rem + 0.4912vw, 2rem);
        }
    }
}
.our-promise{
    background-image: url("../images/single-medium-bg.png");
    background-size: 400% 92%;
    background-repeat: no-repeat;
    margin-bottom: 80px;
    .container {
        box-shadow: 5px 10px 18px #888888;
        background-color: #fff;
        padding: 6.8vh 5.2vw;

        .title {
            margin: 13px 0 40px;
            font-size: 13px;
            color: #ACADAD;
        }
        hr{
            width: 50px;
            height: 3px;
            opacity: .2;
            margin: 20px auto 40px;
        }

        .content{
            padding: 10px 15px;
            img {
                width: 54px;
                height: 68px;
            }

            .sub-title {
                font-size: 16px;
                margin: 20px 0 14px;
                font-weight: bold;
            }

            .description {
                font-size: 12px;
                color: #979798;
                line-height: 1.8;
            }
        }
    }
    
}
@media screen and (max-width:767px) {
    .what-we-do {
        p ,.title,
        .description {
            text-align: center;
        }
    }
    
}
